RAILS_ENV=development
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_NAME=gym_lms_development
RAILS_API_IMAGE=rails_pg_api_base-api:latest

# if external db is used, you need to clean/remove db service from docker-compose
DB_HOST=db