RAILS_ENV=development
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_NAME=gym_lms_development

# Build will create image as {RESPOSITORY_NAME}-{SERVICE_NAME}:latest
# If you are using external image, then pull it in your local first.
RAILS_API_IMAGE=rails_pg_api_base-api:latest

# if external db is used, you need to clean/remove db service from docker-compose
DB_HOST=db

# Set false for production you are running in local testing so you could access by "http" as well
# SSL_REQUIRED=false

BUNDLE_DEPLOYMENT=1

# Uncomment below line for production
# BUNDLE_WITHOUT=development:test

# Set true for production
BUNDLE_FROZEN=false